{% extends "users/base.html" %}
{% block content %}

<style>
.users-body {background-image: url('/media/fon-pass-reset.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position:center;
}
</style>
<div class="container vh-100 d-flex align-items-center">
    <div id="innerPage">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-6 col-xs-12 d-sm-block d-none">
                <div class="imgBgn" id="imgBgn-reset">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-white p-5">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="lead">
                        <h3>Забыли свой пароль?</h3>
                        <p class="fs-6 mb-4">
                            <small>Введите свой адрес электронной почты и мы вышлем вам по электронной почте инструкции
                                по установке нового.</small>
                        </p>
                    </div>
                    <div class="mt-4">
                        <p>
                            Емайл:
                        </p>
                    </div>
                    <input class="form-control rounded-0 mb-3" type="email" name="email" id="id_email"
                        placeholder="Введите емайл" />
                    {% for field in form %}
                    {% if field.errors %}
                    <small class="text-center alert alert-error">{{field.errors|striptags}}</small>
                    {% endif %}
                    {% endfor %}
                    
                    {% if messages %}
                    {% for message in messages %}
                    <div class="text-center alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <button class="btn btn-info mt-4 w-100" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}