{% extends "adminPanel/base.html" %}
{% block content %}
<style>
    .admin-panel-body {
        background-image: url('/media/fon-admin-about.jpg');
    }
</style>
<div class="container">
    <div id="innerPage">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-white px-5 pt-5">
                <div class="lead">
                    <h3>Отзывы</h3>
                    <p class="fs-6 mb-4">
                        <small class="label-color">Здесь Вы можете добавить или удалить отзывы благодарных клиентов.</small>
                    </p>
                </div>

                {% if posts %}
                <ol class="categories">
                    {% for post in posts %}
                    <li class="label-color fs-5">
                        <div class="row mt-2" style="border-bottom: 1px solid #45bdd9;">
                            <div class="col-9">
                                <a href="#" style="text-decoration: none;color: #ffffff;">
                                    <small>{{ post.text|slice:":40" }} ...</small>
                                    <small class="text-warning"> - {{ post.name }}</small>
                                </a>
                            </div>
                            <div class="task-controls col-3 card-text d-flex">
                                <a class="edit px-2 ms-auto" href="{% url 'update-feedback' post.id %}">
                                    <i class="bi bi-pencil-square"></i></a>
                                <a class="edit px-2" href="{% url 'delete-feedback' post.id %}"><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </li>
                    {%endfor%}
                </ol>

                {% else %}
                <p class="text-center"> Список пуст!
                    <a href="{% url 'create-feedback' %}">Добавить отзыв</a>
                </p>
                {% endif %}

                {% if messages %}
                {% for message in messages %}
                <div class="text-center alert alert-{{message.tags}}">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-6 col-xs-12 d-sm-block ">
            </div>
            <div class="col-sm-6 col-xs-12 d-sm-block  px-5 pb-5">
                <a href="{% url 'create-feedback' %}" class="btn btn-info mt-4 w-100"
                    id="ed-and-work-brn">Добавить отзыв</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}