{% extends 'adminPanel/base.html' %}
{% block content %}

<style>
    .admin-panel-body {
        background-image: url('/media/fon-admin-about.jpg');
    }
</style>
<div class="container">
    <div id="innerPage">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-6 col-xs-12 d-sm-block d-none">
                <div class="imgBgn" id="imgBgn-reset-complete">
                </div>
              </div>
              <div class="col-sm-6 col-xs-12 text-white p-5">
                    <div class="lead">
                        <h3>Пароль успешно изменен!</h3>
                        <p class="fs-6 mb-4">
                            <small>Вы успешно изменили пароль.
                                <a href="{% url 'profile' %}" style="color: lightgreen;">Вернуться в профиль.</a></small>
                        </p>
                    </div>
            </div>
        </div>
    </div>
<!-- <h1>Пароль успешно изменен!</h1>
 
<p >Вы успешно изменили пароль. <a href="{% url 'profile' %}">Вернуться в профиль.</a></p> -->
</div>
{% endblock %}