<!-- CONTACT -->
<section class="contact py-5" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-12 d-flex align-items-center p-5">
                <div class="about-text">
                    <h2>
                        Обратная связь
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 col-12 p-5">
                {%for contact in contacts%}
                <p>{{contact.post}}</p>
                {% endfor %}
            </div>
            <div class="col-lg-6 col-12 p-5">
                <div class="contact-form">

                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <input type="text" class="form-control" name="name" placeholder="Ваше имя" id="name_id">
                            </div>

                            <div class="col-lg-6 col-12">
                                <input type="tel" class="form-control" name="phone" autocomplete="tel"
                                    placeholder="Номер телефона" required id="phone_id">
                            </div>
                            <div class="col-12">
                                {% if messages %}
                                {% for message in messages %}
                                <div class="text-center alert alert-{{message.tags}}">
                                    {{message}}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>

                            <div class="ml-lg-auto col-lg-6 col-12">
                                <input type="submit" class="form-control submit-btn" value="Отправить заявку">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>