<section class="feedbacks full-screen bg-dark text-light d-lg-flex justify-content-center align-items-center" id="feedbacks">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-lg-8 d-lg-flex align-items-center">
                <div>
                    <h1 class="animated animated-text text-light">Отзывы</h1>
                    <h1 class="animated animated-text text-secondary">благодарных клиенты</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 d-md-block d-none text-center">
                <h1 class="animated animated-text text-light"><i class="bi bi-emoji-smile" style="font-size: 200px;"></i></h1>
            </div>
        </div>
        <div class="slider">
            {% for feedback in feedbacks %}
            <div class="slider_item feedback-card p-4">
                <h5 class="text-dark">{{feedback.name}}</h5>
                <p>{{ feedback.text }}</p>
                {% if feedback.original_img %}
                <a href="#" data-toggle="modal" data-target="#feedbackModal"
                data-img="{{feedback.original_img.url}}">Показать оригинал отзыва</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Модальное окно -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Отзыв</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="feedbackModalImage" src="" alt="Feedback Image" style="width: 100%; height: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>