<!-- MENU -->
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(224, 226, 226);">
    <div class="container">
        <a class="navbar-brand" href="{% url 'about' %}"><i class='uil uil-user'></i> {{user.first_name|slice:"1"}}.
            {{user.last_name}}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="#about" class="nav-link">
                        <span data-hover="{% if menu.about %} {{ menu.about }} {% else %} О себе {% endif %}">
                            {% if menu.about %} {{ menu.about }} {% else %} О себе {% endif %}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span data-hover="{% if menu.services %} {{menu.services}} {% else %} Услуги {% endif %}">
                            {% if menu.services %} {{menu.services}} {% else %} Услуги {% endif %}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#cases" class="nav-link">
                        <span data-hover="{% if menu.cases %} {{menu.cases}} {% else %} Кейсы {% endif %}">
                            {% if menu.cases %} {{menu.cases}} {% else %} Кейсы {% endif %}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span data-hover="{% if menu.ed_and_work %} {{menu.ed_and_work}} {% else %} Образование и работа {% endif %}">
                            {% if menu.ed_and_work %} {{menu.ed_and_work}} {% else %} Образование и работа {% endif %}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span data-hover="{% if menu.feedbackes %} {{ menu.feedbackes }} {% else %} Отзывы {% endif %}">
                            {% if menu.feedbackes %} {{menu.feedbackes }} {% else %} Отзывы {% endif %}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"><span data-hover="Contact">Контакты</span></a>
                </li>
            </ul>

            <!-- <ul class="navbar-nav ml-lg-auto">
                <div class="ml-lg-4">
                    <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                    </div>
                </div>
            </ul> -->
        </div>
    </div>
</nav>